{% extends 'main/base.html'%}

{% block title%}{{ title }}{% endblock %}

{% block body%}
  <div class="row mb-2">
  <div class="col-md-6">
    <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative bg-light">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{post.name}}</h3>
          <div class="mb-1 text-muted">{{ post.date }}</div>
          <p class="card-text mb-auto">{{ post.post}}</p>
            {% if user == post.avtor %}
              <p><a href="{% url 'change' post.id %}"><button class="btn btn-outline-warning">Редактировать</button></a></p>
              <p><a href="{% url 'delete' post.id %}" ><button class="btn btn-outline-danger">Удалить</button></a></p>
            {% endif %}
        </div>
        <div class="col-auto d-none d-lg-block">
          <img class="bd-placeholder-img" width="80" height="80" src="{{ post.avtor.profile.img.url }}" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ post.avtor }}</text></img>
        </div>
      </div>
  </div>
  </div>
{% endblock %}